.container{
  padding: 6rem 3rem;
  width: fit-content;
  border-radius: 1.5rem;
  border: 1px solid black;
}

.container-btn{
  justify-content: space-between;
  margin-top: 1rem;
  display: flex;
}

.counter{
  background-color: rgb(175, 175, 175);
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 3px black;
}

.btn{
  border: none;
  padding: .5rem .9rem;
  color: white;  
  border-radius: 1rem;
  box-shadow: 0 0 6px black;
}

.btn:hover{
  transform: scale(110%);
  box-shadow: 0 0 6px white;
}

.green{
  background-color: #008800;
}

.red{
  background-color: #ff0000;
}